{% extends "layout.html" %} {% block title %}{{ super() }} Add New Product{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<h2>View Product</h2>

<form class="bs-example bs-example-form" 
      data-example-id="simple-input-groups" >

    <div class="input-group">
        <label class="format-txt-field" id="nametxt">Name:</label>
        <span>{{ templateData['name'] }}</span>
    </div> 
    <div class="input-group">
        <label class="format-txt-field" id="descriptiontxt">Description:</label>
        <span>{{ templateData['description'] }}</span>
    </div>
    <div class="input-group">
        <label class="format-txt-field" id="pricetxt">Price:</label>
        <span>{{ templateData['price'] }}</span>
    </div>
    <div class="input-group">
        <label class="format-txt-field" id="typetxt">Type:</label>
        <span>{{ templateData['type'] }}</span>
    </div>

    <div class="input-group">
        <img style="width:180px;height:180px;" id="blah" src="{{ url_for('static', filename=templateData['image_path'] ) }}" alt="" />
    </div>
    
    <br>
    <a class="btn btn-primary" href="{{ url_for('products') }}">Go Back</a>
</form>
{% endblock %}